#!/bin/sh
read IP < /home/{{ hostvars['manager01']['ansible_ssh_user'] }}/performance/utils/ipAddressSlaves.csv
docker exec -it $(docker ps -f name=jmeter-stack_master* -q) \
sh /performance/apache-jmeter/bin/run.sh $1 $IP